streamlit
pandas
transformers
pipeline
io
TensorFlow 2.0
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
PyTorch
torch
TensorFlow 2.0
